.advantages__title {
  width: 258px;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    padding-bottom: 50px;
    width: 495px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__title {
    width: 495px;
  }
}
