.advantages-list {
  list-style: none;
}

.advantages-list__item--small-town,
.advantages-list__item--bridge {
  background-color: @light-blue;
  color: #ffffff;
}

.advantages-list__wrapper {
  background-color: #eeeeee;
}

.advantages-list__title {
  font-size: 18px;
  line-height: 26px;
}
