.advantages-list {
  width: 320px;
  margin: 0 auto;
  list-style: none;
}

.advantages-list__item--small-town,
.advantages-list__item--bridge {
  background-color: @light-blue;
  color: #ffffff;
}

.advantages-list__item--small-town {
  box-sizing: border-box;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;

  .advantages-list__title {
    padding-top: 80px;
  }
}

.advantages-list__wrapper {
  background-color: #eeeeee;
}

.advantages-list__title {
  margin: 0;
  padding-top: 40px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages-list__number {
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.advantages-list__description {
  display: block;
  width: 275px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.advantages-list__item--info {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #d6d6d6;

  .advantages-list__title {
    padding-top: 25px;
  }

  .advantages-list__description {
    padding-bottom: 28px;
  }
}

.advantages-list__item--info:last-child {
  border-bottom: none;

  .advantages-list__description {
    width: 255px;
  }
}

.advantages-list__item--road {
  .advantages-list__description {
    width: 220px;
  }
}

@media (min-width: @tablet-width) {
  .advantages-list {
    width: 768px;
  }

  .advantages-list__item {
    width: 255px;
    border: none;
  }

  .advantages-list__item--bridge {
    order: 1;
  }

  .advantages-list__item--info {
    .advantages-list__title {
      padding-top: 45px;
    }

    .advantages-list__description {
      width: 165px;
      padding-bottom: 45px;
    }
  }

  .advantages-list__title {
    margin: 0 auto;
    padding-top: 45px;
    width: 151px;
    font-size: 21px;
  }

  .advantages-list__number {
    padding-bottom: 22px;
  }

  .advantages-list__description {
    margin: 0 auto;
    padding-bottom: 45px;
    width: 172px;
  }

  .advantages-list__wrapper {
    display: flex;
    width: 768px;
  }

  .advantages-list__item--small-town {
    background-image: none;

    .advantages-list__title {
      padding-top: 45px;
    }
  }

  .advantages-list__item--road {
    .advantages-list__description {
      width: 145px;
    }
  }

  .advantages-list__item--info:last-child {
    .advantages-list__description {
      width: 165px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages-list {
    margin: 0 auto;
    width: 1200px;
  }

  .advantages-list__item {
    width: 400px;
  }

  .advantages-list__description {
    width: 300px;
  }

  .advantages-list__wrapper {
    width: 1200px;
  }

  .advantages-list__item--small-town {
    .advantages-list__title {
      padding-top: 50px;
    }
  }

  .advantages-list__item--bridge {
    .advantages-list__title {
      padding-top: 54px;
    }

    .advantages-list__description {
      width: 220px;
    }
  }

  .advantages-list__item--info {
    .advantages-list__title {
      padding-top: 45px;
    }

    .advantages-list__description {
      width: 290px;
      padding-bottom: 65px;
    }
  }

  .advantages-list__item--road {
    .advantages-list__description {
      width: 270px;
    }
  }

  .advantages-list__item--info:last-child {
    .advantages-list__description {
      width: 290px;
    }
  }
}
