.background-photo__mountains {
  width: 320px;
  margin: 0 auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}

.background-photo__town {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}

.background-photo__bridge {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
}

.background-photo__text {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .background-photo__mountains {
    width: 768px;
  }

  .background-photo__text {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .background-photo__mountains {
    width: 1200px;
  }
}
