.filter__item {
  border: none;

  .filter__item--label {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }
}

.filter__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.filter__label {
  line-height: 26px;
  color: #333333;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .filter-list__label {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: none;
  }
}
