.hashtag {
  padding-top: 50px;
  padding-bottom: 38px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .hashtag {
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .hashtag {
    margin-right: 268px;
  }
}
