.lifestyle-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lifestyle-list__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.lifestyle-list__description {
  color: #333333;
}
