.lifestyle-list {
  width: 320px;
  display: block;
  margin: 0 auto;
  padding: 33px 0 36px 0;
  list-style: none;
}

.lifestyle-list__title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.lifestyle-list__item {
  padding-left: 68px;
}

.lifestyle-list__description {
  width: 210px;
  margin: 0;
  padding-bottom: 28px;
  color: #333333;
}

.lifestyle-list__item--housing,
.lifestyle-list__item--souvenirs,
.lifestyle-list__item--food {
  position: relative;
}

.lifestyle-list__item--food {
  width: 185px;

  .lifestyle-list__description {
    padding-bottom: 0;
  }
}

.lifestyle-list__icon-house {
  position: absolute;
  top: -10px;
  left: 20px;
  fill: @light-blue;
  width: 39px;
  height: 37px;
}

.lifestyle-list__icon-gift {
  position: absolute;
  top: -10px;
  left: 24px;
  fill: @light-blue;
  width: 32px;
  height: 38px;
}

.lifestyle-list__icon-burger {
  position: absolute;
  top: -5px;
  left: 18px;
  fill: @light-blue;
  width: 40px;
  height: 35px;
}

@media (min-width: @tablet-width) {
  .lifestyle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    width: 768px;
    padding: 0;
  }

  .lifestyle-list__item {
    display: flex;
    flex-direction: column;
    width: 256px;
    padding: 158px 0 0 0;
  }

  .lifestyle-list__title {
    padding-bottom: 20px;
    text-align: center;
    font-size: 21px;
  }

  .lifestyle-list__description {
    width: 165px;
    margin: 0 auto;
    padding-bottom: 62px;
    text-align: center;
  }

  .lifestyle-list__item--food {
    .lifestyle-list__description {
      width: 155px;
    }
  }

  .lifestyle-list__item--souvenirs {
    order: 1;
  }

  .lifestyle-list__icon-house {
    top: 60px;
    left: 90px;
    width: 75px;
    height: 72px;
  }

  .lifestyle-list__icon-gift {
    top: 58px;
    left: 94px;
    width: 64px;
    height: 75px;
  }

  .lifestyle-list__icon-burger {
    top: 63px;
    left: 88px;
    width: 77px;
    height: 68px;
  }
}

@media (min-width: @desktop-width) {
  .lifestyle-list {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }

  .lifestyle-list__item {
    width: 400px;
  }

  .lifestyle-list__description {
    width: 290px;
    padding-bottom: 84px;
  }

  .lifestyle-list__item--food {
    .lifestyle-list__description {
      width: 290px;
    }
  }

  .lifestyle-list__icon-house {
    left: 160px;
  }

  .lifestyle-list__icon-gift {
    left: 165px;
    top: 55px;
  }

  .lifestyle-list__icon-burger {
    left: 160px;
  }
}
