.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-list__title {
  line-height: 24px;
  font-weight: bold;
}

.photo-list__author {
  text-transform: none;
  line-height: 24px;
  color: #333333;
}

.photo-list__button {
  line-height: 24px;
  font-weight: bold;
}
