@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.tablet-desktop-show {
  display: none;
}

@media (min-width: @tablet-width) {
  .tablet-desktop-show {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  body {
    background-color: #f2f2f2;
  }

  .tablet-desktop-show {
    display: inline;
  }
}

.visually-hidden:not(:focus):not(:active),
input:focus.visually-hidden,
input:active.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
